DESTINATION_EMAIL=your.email@gmail.com
SMTP_USER=your.email@gmail.com
SMTP_PASS=abcd efgh ijkl mnop
API_SUBSCRIPTION_KEY=your-ocp-apim-subscription-key
LATITUDE=45.56074
LONGITUDE=-73.55248
TRACKED_MOVIE_IDS=1234,1235